@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@100..1000&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:wght@700&display=swap');
@import "tailwindcss";

@theme {
    --color-neutral-900  : hsl(243, 96%, 9%);
    --color-neutral-800: hsl(243, 27%, 20%)
    --color-neutral-700: hsl(243, 23%, 24%);
    --color-neutral-600: hsl(243, 23%, 30%);
    --color-neutral-300: hsl(240, 6%, 70%);
    --color-neutral-200: hsl(250, 6%, 84%);
    --color-neutral-0: hsl(0, 0%, 100%);
    --color-orange-500: hsl(28, 100%, 52%);
    --color-blue-500: hsl(233, 67%, 56%);
    --color-blue-700: hsl(248, 70%, 36%);

    --font-sans: "DM Sans", sans-serif;
    --font-bricolage: "Bricolage Grotesque", sans-serif;

}

@layer base {
    body{
        @apply font-sans;
    }

    .text-preset-1{
        @apply text-neutral-900 text-8xl font-semibold italic tracking-[-2px];
    }

    .text-preset-2{
        @apply text-neutral-900 font-bricolage text-[52px] leading-[120%];
    }

    .text-preset-3{
        @apply text-neutral-900 text-[32px] font-light;
    }

    .text-preset-4{
        @apply text-neutral-900 text-[28px] font-bold leading-[120%];
    }

    .text-preset-5{
        @apply text-neutral-900 text-xl font-semibold leading-[120%];
    }

    .text-preset-5-medium{
        @apply text-neutral-900 text-xl font-medium leading-[120%];
    }

    .text-preset-6{
        @apply text-neutral-900 text-lg font-medium leading-[120%];
    }

    .text-preset-7{
        @apply text-neutral-900 text-base font-medium leading-[120%];
    }

    .text-preset-7{
        @apply text-neutral-900 text-sm font-medium leading-[120%];
    }
}